.dashboardLayout {
    display: flex;
    gap: 50px;
    padding-top: 14px;
    height: 100%;
    /* background-color: #212126; */

    .menu {
        flex: 3;
    }

    .content {
        flex: 7;
        background-color: var(--surface-1);
        color: var(--app-fg);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}