.chatList {
    display: flex;
    flex-direction: column;
    height: 100%;

    hr {
        border: none;
        height: 2px;
        background-color: var(--divider);
        opacity: 1;
        border-radius: 5px;
        margin: 20px 0px;
    }

    .title {
        font-weight: 600;
        font-size: 12px;
        margin-bottom: 10px;
    }

    .list {
        display: flex;
        flex-direction: column;
        overflow: scroll;
    }

    a,
    a:visited {
        padding: 10px;
        border-radius: 10px;
        color: var(--app-fg) !important;

        &:hover {
            background-color: var(--hover-strong-bg);
        }
    }
}
